nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 110px;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  gap: 40px;
  cursor: pointer;
}
.items a{
  color: #191919;
  cursor: pointer;
  text-decoration: none; /* added to remove underline in all links */
}

.items .active {
  padding-bottom: 3px;
  border-bottom: 3px solid red;
  color: rgb(255, 0, 0);
}
.right-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}
.right-nav img {
  width: 30px;
}
.basket {
  position: relative;
}
.notf {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: red;
  top: -8px;
  right: -8px;
}
.hh img {
  width: 35px;
  cursor: pointer;
}