@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}
body{
    background-image: url(../public/assets/images/Landing\ Page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sofia Sans', sans-serif;
}
a{
    text-decoration: none;
}
.app{
    width: 80%;
    margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}